.App {
  position: relative;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  flex-direction: column;
}
.greeting {
  position: absolute;
  top: 10px;
  left: 5vmin;
  font-size: calc(10px + 10vmin);
}
.greeting2 {
  position: absolute;
  top: 10px;
  text-align: center;
  font-size: calc(10px + 6vmin);
}
.parent-container {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}
.text-box-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.text-box-container2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
}

.text-box {
  width: 200px;
  padding: 10px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 8px;
  background: linear-gradient(to right, purple, blue);
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.text-box2 {
  text-align: right;
  width: 200px;
  padding: 10px;
  right: 0px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.profileinfo {
  position: absolute;
  left: 4vmin;
  top: 30vmin;
  font-size: calc(10px + 3vmin);
  font-style: italic;
  font-weight: bold;
}
.profileinfo2 {
  position: absolute;
  left: 4vmin;
  top: 40vmin;
  font-size: calc(5px + 2vmin);
  font-style: italic;
}
.small-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: auto;
  cursor: pointer;
  z-index: 10;
}

.small-image2 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: auto;
  cursor: pointer;
  z-index: 10;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  text-align: center;
}

.upload-button {
  background: linear-gradient(to right, purple, blue);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.upload-button input {
  display: none;
}
.large-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}
.new-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: white;
}

button {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.function-bubble {
  display: inline-block;
  padding: 12px 25px;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 1%;
  padding-left: 80px;
  padding-right: 80px;
}

.dropdown {
  margin-top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #333;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: fit-content;
  transition: opacity 0.3s ease;
  opacity: 0;
  text-align: center;
}

.dropdown.show {
  opacity: 1;
}

.dropdown p {
  margin: 0;
  font-size: 14px;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #5c8aff;
}

@keyframes colorChange {
  0% {
    color: #ff0000;
  }
  33% {
    color: #00ff00;
  }
  66% {
    color: #0000ff;
  }
  100% {
    color: #ff0000;
  }
}
@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.2); /* Slightly zoomed in */
  }
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-text {
  font-size: 1.5rem;
  font-weight: bold;
  animation: zoomInOut 1.5s infinite, colorChange 3s infinite;
}
